<ion-grid class="ion-text-center">
  <ion-row>
    <ion-col>
      <ion-card-title class="ion-text-bold">
        Feature Unavailable!
      </ion-card-title>
      <br />
      <ion-card-subtitle>
        The feature you are trying to use is currently Unavailable.
      </ion-card-subtitle>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" no-padding>
      <ion-button fill="clear" expand="full" class="ion-text-center" (click)="removeComingSoon()" no-padding>
        <ion-text color="primary" class="ion-text-bold">
          OK
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>