<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button fill="clear" shape="round" routerLink="/tabs/home">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>KYC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Flinks Connect -->
  <iframe class="flinksconnect" scrolling="yes"
        src="https://toolbox-iframe.private.fin.ag/?theme=light&desktopLayout=true&institutionFilterEnable=true&backgroundColor=FFFFFF&demo=true&redirectUrl=http://localhost:8100/&consentEnable=true&fixedHeightEnable=false">
  </iframe>
  
  <!-- Event Listener -->
  <script>
    window.addEventListener('message', function(e) {
        console.log(e.data);
    });
  </script>
</ion-content>
