ion-card {
    margin-top: 8px;
    margin-bottom: 8px;

    ion-text {
        color: #482E3E;
    }
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 12px;
    color: #B4B7BD;
    font-weight: bold;
}

.container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;

    ::-webkit-scrollbar {
        display: none;
    }

    .scroll {
        overflow: auto;
    }

    ion-card {
        box-sizing: border-box;
        display: inline-block;

        * {
            white-space: initial;
        }
    }

    ion-card.md {
        width: 95%;
    }

    ion-card.ios {
        width: 91%;
    }

}

ion-fab {
    ion-fab-list.fab-list-active {
        display: inline-block;
        text-align: right;
        right: 0px;

        ion-button {
            line-height: 20px;
            ion-icon {
                height: 20px;
                width: 20px;
                margin-right: 10px;
                vertical-align: middle;
            }

            ion-label {
                vertical-align: middle;
            }
        }
    }
}