@keyframes home {
    from {
        left: 0px;
    }

    to {
        left: 100%;
        transform: translateX(-100%);
    }
}

ion-card {
    height: 50% !important;
    width: 100%;
    left: -16px;

    ion-card-header.img-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: brightness(50%);

        img {
            all: unset;
            height: 100% !important;
            animation-name: home;
            animation-delay: 500ms;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            position: absolute;
        }

    }

    ion-card-content {
        width: 100%;
        position: absolute;
        bottom: 0px !important;

    }
}