<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button fill="clear" shape="round" routerLink="/tabs/profile">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About Developers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical" color="light">
  <ion-text id="title" class="ion-padding">
    Team
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let developer of developers">
        <ion-card color="white" class="ion-text-center" href="{{developer.linkedin}}">
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar style="height: 50px; width: 50px; margin: auto;">
                <img style="height: 100%; width: 100%;" src="assets/imgs/developers/{{developer.image}}">
              </ion-avatar>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>
              {{developer.name}}
            </ion-card-title>
            <ion-card-subtitle>
              {{developer.position}}
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
